@media screen and (min-width: 0) and (max-width: 768px) {

    .container {
        width: 90%;
    }

    .nav-content h2 {
        font-size: 20px;
    }

    .logo span {
        font-size: 9px;
    }

    .nav__left-links ul {
        display: none;
    }

    .nav__left-links button {
        width: 130px;
        height: 30px;
        font-size: 11px;
        padding: 8px 8px 5px 8px;
    }

    button svg {
        width: 14px;
        height: 14px;
    }

    body {
        padding-top: 10px;
    }

    .header-section {
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
        margin: 60px 0 120px;
        gap: 30px;
    }

    .header-section img {
        width: 260px;
        height: auto;
        margin: 0 auto 20px;
        display: block;
    }

    .header__text-section {
        width: 100%;
    }

    .header__text-section h1 {
        font-size: 24px;
        max-width: 100%;
    }

    .header__text-section p {
        font-size: 13px;
        margin: 20px auto;
        width: 100%;
    }

    .header__text-section p::before {
        display: none;
    }

    .header-form {
        max-width: 100%;
        flex-direction: column;
        gap: 12px;
    }

    .header-form input {
        width: 100%;
        height: 38px;
        font-size: 13px;
        padding-left: 10px;
        margin-bottom: 10px;
    }

    .header-form button {
        width: 50%;
        height: 32px;
        font-size: 13px;
        margin: 0 auto;
    }


    .section-title,
    .section-subtitle {
        font-size: 15px;
    }

    .section-subtitle::after {
        width: 3px;
        height: 8px;
        margin-left: 8px;
    }

    .cards {
        gap: 20px;
        justify-content: center;
        flex-wrap: wrap;
    }

    .card {
        width: 150px;
        height: 180px;
    }

    .card img {
        width: 50px;
        height: 50px;
        margin: 25px 0 14px 18px;
    }

    .card p {
        margin-left: 20px;
        font-size: 14px;
    }


    .skills-cards {
        display: flex;
        flex-wrap: wrap;
        gap: 18px;
        justify-content: center;
    }

    .skill-card {
        flex: 0 1 calc(50% - 18px);
        padding: 20px;
        box-sizing: border-box;
    }

    .skill-card img {
        width: 50px;
        height: 50px;
    }

    .skill-card h3 {
        font-size: 20px;
    }

    .skill-card p {
        font-size: 14px;
        line-height: 1.4;
    }

    .subscribe__content img {
        width: 70px;
        height: 70px;
    }

    .subscribe-title {
        font-size: 20px;
    }

    .subscribe-subtile {
        font-size: 13px;
        margin-bottom: 20px;
    }

    .header-form .small-input {
        width: 100%;
        margin: 12px auto;
    }

    .header-form .small-button {
        margin: 0 auto;
    }


    footer {
        padding: 40px 0;
    }

    .footer__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 35px;
        text-align: center;
    }

    .footer__aside {
        order: -1;
        margin-bottom: 20px;
    }

    .footer__aside p {
        font-size: 12px;
        line-height: 1.5;
        max-width: 420px;
        margin: 0 auto 15px auto;
    }

    .media-links {
        justify-content: center;
        gap: 15px;
    }

    .media-links a svg {
        width: 22px;
        height: 22px;
    }


    .footer__columns-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 40px;
    }

    .footer-title {
        font-size: 14px;
        margin-bottom: 16px;
        font-weight: 600;
    }

    .column-content a {
        font-size: 12px;
        margin-bottom: 10px;
        display: inline-block;
    }

    .footer-bottom {
        font-size: 10px;
        margin-top: 30px;
        text-align: center;
        opacity: .7;
    }
}
